# Conteúdo para o arquivo .gitignore

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDEs
.idea/
.vscode/

# Arquivos de segredos
secrets.env
*.local
.env

scripts/ssh-tunnel-all.sh
scripts/install-charts.sh